p{
    font-size:32px;
text-align:center;
    margin: 10px 10px;
    width:80%;
   color:#4a406b;
   
}

.home{
     display:flex;
    justify-content: center;
    margin-top:60px;
    line-height: 2;
   
}

.br{
        display:block;  
    margin-top:30px;
    line-height: 150%;
    
}



.main{
    font-size:30px;
}

.home-title{
    font-size:50px;
    font-weight:bold;
}