:root {
    --firstColor: #2bd0d1;
    --secondColor: white;
    --thirdColor: #4a406b;
    --fourthColor: #b3b3b7;
    --fifthColor: #bcdbdf;
}


.form-title {
    text-align: center;
    margin-top: 20px;
}

input {
    background-color: var(--thirdColor);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}


.input:hover{
    background-color:#cca8e9;
}


.submit-btn {
    background-color: var(--firstColor);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 20%;

}

.submit-btn:hover{
    background-color:#95e8d7;
   color:black;}

.form-holder-signup {
    width: auto;
    height: 300px;
    background: #bcdbdf;
    margin: 50px 500px;
    border-radius: 20px;
    padding-top: 50px;
}

.forgot-password{
    color:black;
    display:flex;
    justify-content:center;
}


.forgot-password {
    text-align: center
}

@media(max-width: 576px) {

    input {
    background-color: var(--thirdColor);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}


.submit-btn {
    background-color: var(--firstColor);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 20%;

}

.submit-btn:hover{
    background-color:#95e8d7;
   color:black;}

.form-holder-signup {
    width: auto;
    height: 300px;
    background: #bcdbdf;
    margin: 10px 5px;
    border-radius: 20px;
    padding-top: 50px;
}

.forgot-password{
    color:black;
    display:flex;
    justify-content:center;
}


}